<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel='stylesheet' href='../static/bootstrap.min.css'>
</head>
<body>
<div>
  <div class='center content'>
    <div class='logo'><img src='../static/img/poles.png'></div>
    <div class='title'>poles or not</div>
    <p> show me images with <strong>utility poles</strong> or <strong>not</strong> </p>
    <p class='sub-title'> I'll figure out whether poles are there </p>
    <div>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='btn btn-primary' type='button' onclick='showPicker()'>select image</button>
      <div>
        <img id='image-picked' class='no-display' alt='chosen image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='btn btn-success' type='button' onclick='analyze()'>check for poles</button>
      </div>
      <div class='result alert alert-success' role='alert'>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../static/bootstrap.min.js"></script>
  <script type="text/javascript" src='../static/client.js'></script>
</body>
</html>
