body {
    background-color: #fff;
}

.no-display {
    display: none !important;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 5px;
    color: #262626;
}

.analyze {
    margin-top: 1em;
}

.result{
    width: 14%;
    margin: 0 auto;
}

.sub-title {
    margin-top: -16px;
    color: #00000061;
}

button:focus {
    outline: 0;
}

#image-picked {
    margin-top: 15px;
}

.logo {
    width: 84px;
    margin: 0 auto;
    margin-bottom: -42px;
    margin-top: 42px;
}

.logo img {
    height: auto;
    width: 100%;
    margin-bottom: -126px;
    margin-left: -377px;
}
